/* Footer Start */

.footer {
    background-color: #3D7196;
  }
  
  .footer__container {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    padding-top: 40px;
  }
  
  .footer__left, .footer__right {
    width: 40%;
  }
  
  .footer__right {
    display: flex;
    justify-content: space-between;
  }
  
  .socials {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .socials img {
    width: 24px;
  }
  
  /* .socials > p > img {
    width: 50px;
  } */
  
  .copyright {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    display: flex;
    align-items: center;
  }
  
  .copyright img {
    width: 16px;
    margin-right: 10px;
  }
  
  .copyright span {
    text-decoration: underline;
  }
  
  .footer__text__first {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline; 
  }
  
  .footer__text__first p, .footer__text__second p {
    margin-bottom: 5px;
  }
  
  .footer__text__second {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
  }
  /* Footer End */